.booking-form {
  background: $color-tangaroa;
  padding: 44px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include vp-1023 {
    margin: 0 auto;
    width: 60.33%;
    max-width: none;
  }

  @include vp-767 {
    padding: 36px 30px 40px 30px;
    width: 100%;
  }

  & p {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-alice-blue;
    margin-bottom: 7px;

    @include vp-767 {
      text-align: center;
      line-height: 25px;
    }
  }

  & [data-on-input-validate] {
    position: relative;
  }
}

.booking-form__input-wrapper {
  height: 43px;
  width: 100%;

  & input {
    height: 43px;
    width: 100%;
    padding: 11px 16px;
    border: none;
    font-size: 14px;
    line-height: 21px;

    &:focus {
      box-shadow: 0 0 0 2px $color-dodger-blue;
      outline: none;
    }

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.booking-form__checkbox {
  min-height: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  @include vp-767 {
    margin-bottom: 7px;
  }

  & label span {
    font-size: 10px;
    line-height: 13px;
    color: $color-alice-blue;
    display: flex;
    align-items: center;
    gap: 5px;

    @include vp-767 {
      line-height: 12px;
      gap: 10px;
    }
  }

  & label {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;

    @include vp-767 {
      margin-top: -1px;
    }

    &:hover {
      opacity: 0.8;
    }

    & > span::before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      flex-shrink: 0;
      flex-grow: 0;
      background: $color-alice-blue;
      margin: 0;
      background-repeat: no-repeat;
      background-position: center center;

      @include vp-767 {
        width: 20px;
        height: 20px;
      }
    }

    & > input:checked + span::before {
      background-image: url("../img/svg/check-mark.svg");
    }

    & > input:not(:disabled):not(:checked) + span:hover::before {
      opacity: 0.8;
    }

    & > input:not(:disabled):active + span::before {
      opacity: 0.6;
    }

    & > input:focus + span::before {
      box-shadow: 0 0 0 2px $color-dodger-blue;
      outline: none;
    }

    & > input:disabled + span::before {
      opacity: 0.3;
    }
  }

  & input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }
}

.booking-form__button {
  min-height: 43px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color-tangaroa;
  padding: 10px 14px;
  border: none;

  &:focus {
    box-shadow: 0 0 0 2px $color-dodger-blue;
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
