.button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-main-text;

  background-color: $color-alice-blue;
  border: none;
  cursor: pointer;
  user-select:none;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
    box-shadow: inset 300px 300px rgba(0, 0, 0, 0.3);
  }

  &:focus {
    opacity: 0.8;
  }
}
