.contacts-info__item {
  display: flex;
  gap: 10px;

  & a {
    color: $color-tangaroa;

    &:focus {
      box-shadow: 0 0 0 2px $color-dodger-blue;
      outline: none;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  & svg {
    flex-shrink: 0;
  }

  & p {
    font-size: 16px;
    line-height: 24px;

    &:last-of-type {
      margin-bottom: 0;
    }

    & br {
      display: none;
    }

    @include vp-1023 {
      align-items: start;

      & br {
        display: block;
      }
    }
  }

  @include vp-1023 {
    align-items: start;

    & br {
      display: block;
    }

    & p:last-of-type {
      margin-bottom: 0;
    }

    & svg {
      margin-top: 3px;
    }
  }
}

.contacts-info__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;

  @include vp-1023 {
    gap: 21px;
  }
}
