.contacts-info__item {
  display: flex;
  align-items: center;
  gap: 10px;

  & a {
    color: $color-tangaroa;
  }

  & svg {
    flex-shrink: 0;
  }
}

.contacts-info__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style-type: none;

  @include vp-1023 {
    gap: 30px;
  }
}
