.cruises-card {
  padding: 23px 30px 23px 30px;
  width: 260px;
  min-height: 386px;

  @include vp-1023 {
    width: 309px;
    padding: 28px 35px 28px 35px;
  }

  & h3 {
    margin: 313px 0 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-alice-blue;

    @include vp-1023 {
      margin-top: 303px;
    }
  }

  &--astoria {
    background: url('../img/cruise-astoria.jpg') no-repeat;
    background-size: cover;
  }

  &--elayn {
    background: url('../img/cruise-astoria.jpg') no-repeat;
    background-size: cover;
  }

  &--atlantis {
    background: url('../img/cruise-atlantis.jpg') no-repeat;
    background-size: cover;
  }

  &--odissey {
    background: url('../img/cruise-odissey.jpg') no-repeat;
    background-size: cover;
  }

  &--olimpia {
    background: url('../img/cruise-olimpia.jpg') no-repeat;
    background-size: cover;
  }

  &--avrora {
    background: url('../img/cruise-avrora.jpg') no-repeat;
    background-size: cover;
  }

  &--leonor {
    background: url('../img/cruise-leonor.jpg') no-repeat;
    background-size: cover;
  }

  &--minion {
    background: url('../img/cruise-minion.jpg') no-repeat;
    background-size: cover;
  }
}

.cruises-card__popup {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  min-height: 386px;
  padding: 28px 25px;
  background: $color-tangaroa;

  & h3 {
    margin: 0 0 18px 0;
    color: $color-alice-blue;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  & h4 {
    margin: 0 0 1px 0;
    color: $color-alice-blue;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  & p {
    margin: 0 0 12px 0;
    color: $color-quartz;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    &:last-of-type{
      margin-bottom: 24px;
    }
  }

  & button {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    background: $color-alice-blue;
    padding: 8px 15px;
  }
}
