.cruises-card {
  position: relative;
  padding: 0px 30px 0 30px;
  min-height: 386px;

  @include vp-1023 {
    padding: 28px 35px 0 35px;
  }

  & h3 {
    position: absolute;
    margin: 0;
    padding-right: 10px;
    bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-alice-blue;

    @include vp-1023 {
      bottom: 27px;
    }
  }

  &--astoria {
    background: url('../img/cruise-astoria-desktop.jpg') no-repeat;
    background-size: cover;

    @media (min-width: $vp-1024) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-astoria-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }

    @include vp-1023 {
      background: url('../img/cruise-astoria-tablet.jpg') no-repeat;
      background-size: cover;
    }

    @media (max-width: ($vp-1024 - 1)) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-astoria-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }

    @include vp-767 {
      background: url('../img/cruise-astoria-mobile.jpg') no-repeat;
      background-size: cover;
    }

    @media (max-width: ($vp-768 - 1)) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-astoria-mobile@2x.jpg") no-repeat;
      background-size: cover
    }
  }

  &--elayn {
    background: url('../img/cruise-astoria-desktop.jpg') no-repeat;
    background-size: cover;

    @media (min-width: $vp-1024) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-astoria-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }

    @include vp-1023 {
      background: url('../img/cruise-astoria-tablet.jpg') no-repeat;
      background-size: cover;
    }

    @media (max-width: ($vp-1024 - 1)) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-astoria-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }

    @include vp-767 {
      background: url('../img/cruise-astoria-mobile.jpg') no-repeat;
      background-size: cover;
    }

    @media (max-width: ($vp-768 - 1)) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-astoria-mobile@2x.jpg") no-repeat;
      background-size: cover
    }
  }

  &--atlantis {
    background: url('../img/cruise-atlantis-desktop.jpg') no-repeat;
    background-size: cover;

    @media (min-width: $vp-1024) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-atlantis-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }

    @include vp-1023 {
      background: url('../img/cruise-atlantis-tablet.jpg') no-repeat;
      background-size: cover;
    }

    @media (max-width: ($vp-1024 - 1)) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-atlantis-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }

    @include vp-767 {
      background: url('../img/cruise-atlantis-mobile.jpg') no-repeat;
      background-size: cover;
    }

    @media (max-width: ($vp-768 - 1)) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-atlantis-mobile@2x.jpg") no-repeat;
      background-size: cover
    }
  }


  &--odissey {
    background: url('../img/cruise-odissey-desktop.jpg') no-repeat;
    background-size: cover;

    @media (min-width: $vp-1024) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-odissey-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }

    @include vp-1023 {
      background: url('../img/cruise-odissey-tablet.jpg') no-repeat;
      background-size: cover;
    }

    @media (max-width: ($vp-1024 - 1)) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-odissey-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }

    @include vp-767 {
      background: url('../img/cruise-odissey-mobile.jpg') no-repeat;
      background-size: cover;
    }

    @media (max-width: ($vp-768 - 1)) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-odissey-mobile@2x.jpg") no-repeat;
      background-size: cover
    }
  }

  &--olimpia {
    background: url('../img/cruise-olimpia-desktop.jpg') no-repeat;
    background-size: cover;

    @media (min-width: $vp-1024) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-olimpia-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }

    @include vp-1023 {
      background: url('../img/cruise-olimpia-tablet.jpg') no-repeat;
      background-size: cover;
    }

    @media (max-width: ($vp-1024 - 1)) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-olimpia-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }

    @include vp-767 {
      background: url('../img/cruise-olimpia-mobile.jpg') no-repeat;
      background-size: cover;
    }

    @media (max-width: ($vp-768 - 1)) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-olimpia-mobile@2x.jpg") no-repeat;
      background-size: cover
    }
  }

  &--avrora {
    background: url('../img/cruise-avrora-desktop.jpg') no-repeat;
    background-size: cover;

    @media (min-width: $vp-1024) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-avrora-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }

    @include vp-1023 {
      background: url('../img/cruise-avrora-tablet.jpg') no-repeat;
      background-size: cover;
    }

    @media (max-width: ($vp-1024 - 1)) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-avrora-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }

    @include vp-767 {
      background: url('../img/cruise-avrora-mobile.jpg') no-repeat;
      background-size: cover;
    }

    @media (max-width: ($vp-768 - 1)) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-avrora-mobile@2x.jpg") no-repeat;
      background-size: cover
    }
  }

  &--leonor {
    background: url('../img/cruise-leonor-desktop.jpg') no-repeat;
    background-size: cover;

    @media (min-width: $vp-1024) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-leonor-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }

    @include vp-1023 {
      background: url('../img/cruise-leonor-tablet.jpg') no-repeat;
      background-size: cover;
    }

    @media (max-width: ($vp-1024 - 1)) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-leonor-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }

    @include vp-767 {
      background: url('../img/cruise-leonor-mobile.jpg') no-repeat;
      background-size: cover;
    }

    @media (max-width: ($vp-768 - 1)) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-leonor-mobile@2x.jpg") no-repeat;
      background-size: cover
    }
  }

  &--minion {
    background: url('../img/cruise-minion-desktop.jpg') no-repeat;
    background-size: cover;

    @media (min-width: $vp-1024) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-minion-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }

    @include vp-1023 {
      background: url('../img/cruise-minion-tablet.jpg') no-repeat;
      background-size: cover;
    }

    @media (max-width: ($vp-1024 - 1)) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-minion-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }

    @include vp-767 {
      background: url('../img/cruise-minion-mobile.jpg') no-repeat;
      background-size: cover;
    }

    @media (max-width: ($vp-768 - 1)) and (min-resolution: $retina-dppx) {
      background: url("../img/cruise-minion-mobile@2x.jpg") no-repeat;
      background-size: cover
    }
  }
}

.cruises-card__popup {
  visibility: hidden;
  flex-direction: column;
  margin-left: -30px;
  width: calc(100% + 60px);
  min-height: 386px;
  padding: 30px 25px 35px 25px;
  background: $color-tangaroa;
  height: 100%;

  @include vp-1023 {
    width: calc(100% + 70px);
    height: calc(100% + 28px);
    margin-left: -35px;
    margin-top: -28px;
    padding: 30px 35px 35px 35px;
  }

  @include vp-767 {
    width: calc(100% + 70px);
  }

  & h3 {
    position: static;
    margin: 0 0 13px 0;
    color: $color-alice-blue;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  & h4 {
    margin: 0 0 1px 0;
    color: $color-alice-blue;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  & p {
    margin: 0 0 11px 0;
    color: $color-quartz;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    &:last-of-type {
      margin-bottom: 5px;
    }
  }

  & a {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    background: $color-alice-blue;
    padding: 9px 15px;
    margin: auto 0 0 0;

    &:focus {
      box-shadow: 0 0 0 2px $color-dodger-blue;
      outline: none;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
