.cruises {
  padding: 86px 15px 120px 15px;

  @include vp-1023 {
    padding: 90px 15px 100px 15px;
  }

  @include vp-767 {
    padding: 65px 15px 65px 15px;
  }

}

.cruises__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin: 0 auto 48px auto;
  max-width: 800px;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 49px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
  }
}

.cruises__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap:  30px;
  display: grid;
  grid-template-columns: repeat(4, minmax(170px, 1fr));
  grid-auto-rows: 1fr;
  justify-content: center;

  @include vp-1023 {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

  @include vp-767 {
    grid-template-columns: repeat(1, minmax(250px, 380px));
  }
}

.cruises__item {
  position: relative;

  &:hover .cruises-card__popup,
  &:focus-within .cruises-card__popup {
    display: flex;
    visibility: visible;
    flex-grow: 1;
    box-shadow: 0 0 0 2px $color-dodger-blue;
    outline: none;

    & h3 {
      visibility: visible;
    }
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 0 0 2px $color-dodger-blue;
    outline: none;

    & h3 {
      visibility: hidden;
    }
  }
}
