.main-footer {
  background-color: $color-tangaroa;
  padding: 50px 0 50px 0;
  min-width: 320px;

  @include vp-1023 {
    padding: 46px 0 52px 0;
  }

  @include vp-767 {
    padding: 40px 0 40px 0;
  }

  & .container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    @include vp-767 {
      flex-direction: column;
      gap: 27px;
      align-items: self-start;
    }
  }
}

.main-footer__logo {
  margin-right: 2.587%;
  display: flex;

  &:focus {
    box-shadow: 0 0 0 2px $color-dodger-blue;
    outline:none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @include vp-1023 {
    margin-right: 1.7%;
    margin-top: 2px;
  }

  @include vp-767 {
    margin-top: 0;
  }

  & svg {

    @include vp-1023 {
      width: 38px;
    height: 20px;
    }


    @include vp-1023 {
      width: 42px;
    height: 22px;
    }
  }
}

.main-footer__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 35px;
  margin: 0 auto 0 0;
  padding: 0;
  max-width: 75%;

  @include vp-1023 {
    gap: 23px;
    margin-top: 5px;
  }

  @include vp-767 {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 0;
    gap: 17px;
  }
}

.main-footer__item {
  line-height: 20px;

  @include vp-1023 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
}

.main-footer__link {
  &:focus {
    box-shadow: 0 0 0 2px $color-dodger-blue;
    outline:none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
